.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ec1414;
  color: rgb(61, 21, 170);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

article {
  flex: 3;
}

aside {
  flex: 1;
  background-color: #a04242;
  padding: 10px;
}

footer {
  background-color: #333;
  color: rgb(204, 255, 0);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
